name: Build and Release

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Set up Rust
        uses: moonrepo/setup-rust@v1
        with:
          channel: "1.56.0"

      - name: Install dependencies
        run: |
          cargo install trunk tauri-cli

      - name: Build app
        run: |
          cargo tauri build --release

      - name: Upload Release
        uses: softprops/action-gh-release@v1
        with:
          files: target/release/onlineanalyze-ui-*.dmg
